
.arrowControls {
    position: absolute;
    bottom: px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
  
  .arrow {
    display: flex;
    gap: 80px;
  }
  

  .arrowControls button {
    font-size: 1.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 16px 24px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
  }
  
  .arrowControls button:hover {
    background-color: #000000; 
    color: #ffffff;
  }
  

  .arrowControls button[data-dir="up"] {
    transform: rotate(90deg);
  }
  
  .arrowControls button[data-dir="down"] {
    transform: rotate(90deg);
  }
  
  .arrowControls button[data-dir="left"] {
    transform: rotate(90deg);
  }
  
  .arrowControls button[data-dir="right"] {
    transform: rotate(90deg);
  }
  